.site-header {
    flex-wrap: wrap;
    align-content: center;

}

.BrandLink {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.header-brand {
    display: flex;
    align-items: baseline;
}

.nav{
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}
.navbar {
    width: 100%;
    background: #FFFFFF !important;
    height: 4em;
}

.main-brand {
    padding-right: 0.3em;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-size: 33px;
    line-height: 40px;
    display: flex;

}

.brand-caption {
    font-family: Montserrat, sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 17px;
    font-variant-caps: all-small-caps;

    color: #cccccc;
}
